language: cpp

dist: focal #20.04 (Focal Fossa)

os: linux
compiler:
    - g++

branches:
  only:
    - assignment_1

install:
  - sudo apt update
  - sudo apt install cmake
  - sudo apt install cppcheck
  - sudo apt install valgrind
  - sudo apt install clang-format
  - sudo apt install lcov
  - sudo apt install libgtest-dev
  - cd /usr/src/gtest
  - sudo cmake .
  - cd -
  
  before_install:
  - test -n $TRAVIS_COMPILER && unset TRAVIS_COMPILER
  - test -n $CXX && unset CXX
  - test -n $CXX_FOR_BUILD && unset CXX_FOR_BUILD
  - test -n $CC && unset CC
  - test -n $CC_FOR_BUILD && unset CC_FOR_BUILD
  - test -n $CC && unset CC
  
   script:
   - sudo cmake .
    - sudo make
    - cppcheck main.c ./src --inconclusive --enable=all --language=c --suppress=missingInclude
# --suppress=missingInclude reason: cppcheck wrongfully thinks I do not have includes (while I have them)
    - valgrind --tool=memcheck --leak-check=full --show-leak-kinds=all --leak-resolution=med  --track-origins=yes ./tests || travis_terminate 1


after_script:
    - lcov --capture  --directory . --output-file coverage.info
    - bash <(curl -s https://codecov.io/bash) -f coverage.info

