dist: bionic
sudo: required
language: cpp
os: linux

install:
  - CWD=$PWD
  - source ./ci/install.sh
  - cd $CWD/ci && unzip cpplint.zip && cd ..
  
before_install:
  - test -n $TRAVIS_COMPILER && unset TRAVIS_COMPILER
  - test -n $CXX && unset CXX
  - test -n $CXX_FOR_BUILD && unset CXX_FOR_BUILD
  - test -n $CC && unset CC
  - test -n $CC_FOR_BUILD && unset CC_FOR_BUILD
  - test -n $CC && unset CC

before_script:
  - source ./ci/run.sh

script:
  - mkdir build
  - cd build
  - cmake ..
  - cmake --build .
  - valgrind --tool=memcheck --track-origins=yes --error-exitcode=1 project/data/case1/in.txt
  - cppcheck main.c ./src --inconclusive --enable=all --language=c --suppress=missingInclude
  - cd ./project
  - touch custom_in.txt
  - bash <(curl -s https://codecov.io/bash)
